@if (userResource.hasValue()) {
  <h3 class="text-3xl text-center font-bold">{{ title() }}</h3>

  <div class="flex flex-col sm:flex-row justify-between items-center my-3 gap-3">
    <app-pagination
      [pages]="userResource.value().totalPages"
      [currentPage]="userResource.value().number"
    />
    <button class="btn btn-primary" [routerLink]="['/users/new']">Crear Usuario</button>
  </div>

  <div class="overflow-x-auto">
    <table class="table">
      <thead>
        <tr>
          <th>name</th>
          <th>lastname</th>
          <th>email</th>
          <th>username</th>
          @if (authService.isAdmin()) {
            <th>remove</th>
            <th>update</th>
          }
        </tr>
      </thead>
      <tbody>
        @for (user of userResource.value().content; track $index) {
          @if (user.email !== authService.email()) {
            <tr>
              <td>{{ user.name }}</td>
              <td>{{ user.lastname }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.username }}</td>

              @if (authService.isAdmin()) {
                <td>
                  <button class="btn btn-error btn-sm" (click)="onRemoveUser(user.id!)">
                    remove
                  </button>
                </td>
                <td>
                  <button class="btn btn-info btn-sm" [routerLink]="['/users', user.id]">
                    update
                  </button>
                </td>
              }
            </tr>
          }
        }
      </tbody>
    </table>
  </div>
} @else if (userResource.isLoading()) {
  <app-loading />
}
